:root {
    --main-color:rgba(141, 129, 140, 0.856);
    --accent-color:rgb(254, 220, 220);
}
body {
   color: var(--main-color);
   background-color: var(--accent-color);
   height: 100%;
   margin: 0;
   padding: 0;
}

#section1 {
    height: 100%; 
    /* Center and scale the image nicely */
    /* background-image: url(bg.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    margin-bottom:100px;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 30px 0px;
}


button.active.tab {
    background: var(--main-color);
    color: var(--accent-color);
}

button.tab {
    /* background: var(--main-color); */
    background: transparent;
    border-radius: 30px;
    padding:10px;
    border: none;
    color: var(--main-color);
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
}

.header {
    background-color: var(--main-color);
    position: fixed; 
    width: 100vw;
    height: .8vh;
}

.footer {
    background-color: var(--main-color);
    bottom: 0%;
    position: fixed;
    width: 100vw;
    height: .8vh;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box.dish-box {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    color: var(--accent-color);
    background-color: var(--main-color);
    border: 5px var(--accent-color) dashed;
    border-radius: 50px;
    margin: 10px auto;
    text-align: center;
    max-width: 1500px;
    min-width: 200px;
    margin-bottom: 100px;
}

.message {
    font-size: 100px;
    margin-top: 80px;
    margin-bottom: 60px;;
}

.food-img {
    width: 500px;
}

.orderBtn {
    border: none;
    background: var(--main-color);
    width: 180px;
    height: 80px;
    font-size: 1.8rem;
    border-radius: 100px;
    outline: none;
}

.orderBtn:hover {
    cursor: pointer;
}


h1 {
    position: relative;
    bottom: -40px;
    transition: all 0.8s ease-out;
}


#section2 {
    background:#5a4e69;
    padding:10px;
    margin:0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 90vh;
}

.story {
   display: flex;
   grid-column: 2 / 2;
   margin-left: 130px;
   align-items: center;
   font-size: 4rem;
   text-decoration: underline;
   margin-top: 200px;
   margin-bottom: 0px;
}

.story-content {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 2;
    font-size: 1.5rem;
    height: 300px;
    margin-top: -80px;
    width: clamp(450px, 50vw, 750px); 
}

.img1, .img2 {
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
} 

.img1 {
    grid-row: 2 / 2;
    max-width: 40vw;
    max-height: 40vh;  
}

.img2 {
    grid-row: 1 / 1;
    max-width: 40vw;
    max-height: 40vh;
}

.dish-wrapper {
    flex-direction:column;
    text-align: center;
    width: 100px;
    flex: 40%;
    text-align: center;
    padding: 10px 50px;
    font-size: 1.2rem;
}

.dish-title {
    white-space: nowrap;
    text-decoration: underline;
    font-size: 2rem;
}

.price {
    font-size: 1.5rem;
}

.menu-img1, .menu-img2 {
    width: 200px;
}

.menu-img1 {
    display: flex;
    padding-right: 250px;
    padding-left: 270px;
}

/* Contact */

.heading {
    font-size: 2rem;
}

.map {
    width: 800px;
    height: 500px;
    outline: none;
}

